@media print {
    @page {
        size: A4 portrait;
        margin: 15mm 0;
    }

    .sidebar {
        display: none;
    }

    .content {
        padding-top: 0;
        left: 0;
    }

    .docsify-copy-code-button {
        display: none;
    }

    .markdown-section h1,
    .markdown-section h2,
    .markdown-section h3,
    .markdown-section h4,
    .markdown-section h5,
    .markdown-section h6 {
        break-after: avoid-page;
    }

    .markdown-section li {
        break-inside: avoid-page;
    }

    .markdown-section img {
        max-height: 408px;
    }

    .markdown-section pre {
        text-wrap: wrap;
    }
}

.markdown-section h1 {
    font-size: 2rem;
}

.markdown-section h2 {
    font-size: 1.5rem;
}

.markdown-section h3 {
    font-size: 1.25rem;
}

.markdown-section h4 {
    font-size: 1rem;
}

.markdown-section h5 {
    font-size: 0.875rem;
}

.markdown-section h6 {
    font-size: 0.85rem;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
    margin-top: 24px;
    margin-bottom: 16px;
}

.markdown-section h1,
.markdown-section h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #ddd;
}

.markdown-section hr {
    margin: 24px 0;
    border-bottom: 1px solid #ddd;
}

.markdown-section footer {
    text-align: center;
}